@font-face {
    font-family: 'SF Pro';
    src: url('fonts/SF-Pro.ttf') format('truetype');
    font-weight: 100; /* Thin weight */
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 300; /* Light weight */
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: 'SF Pro', sans-serif;
    flex-direction: column; /* Vertical layout */
    align-items: center;    /* Center horizontally */
    justify-content: flex-start; /* Align top */
    width: 100%; /* Fill width of the screen */
}

.calendar {
    display: flex;
    flex-direction: column; /* Vertical layout */
    align-items: center;    /* Center horizontally */
    justify-content: flex-start; /* Align top */
    width: 100%; /* Fill width of the screen */
    background-color: #f4f4f4;
    border-bottom: 1px solid #bbbbbb;
    padding: 10px 20px;
    box-sizing: border-box;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick the header to the top */
    z-index: 1000; /*Ensure the header is on top of other content*/
    font-weight: 300;
    border-radius: 0px 0px 30px 30px;
}

.dates_container{
    display: flex;
    flex-wrap: wrap; /* Enable wrap layout */
    gap: 17px 50px; /* Vertical gap 17px, horizontal gap 5px */
    width: 100%; /* Fill width of the screen */
    justify-content: center; /* Center items horizontally */
    align-items: flex-start; /* Align items to the top */
}

.day_date_month_container{
    display: flex;
    flex-direction: column; /* Vertical layout */
    align-items: center;    /* Center horizontally */
    justify-content: flex-start; /* Align top */
    gap: 10px;
}

.day_container{
    box-sizing: border-box; /* Include padding and border in width and height */
    width: 42px;
    height: 42px;
    display: flex;  /* Use flexbox to center text */
    justify-content: center; /* Center horizontally */
    align-items: center;  /* Center vertically */
    font-size: 16px;  /* Set text size to 16px */
    color: rgba(0, 0, 0, 0.4); /* 40% opacity black */
}

.date_container{
    box-sizing: border-box; /* Include padding and border in width and height */
    width: 42px;
    height: 42px;
    display: flex;  /* Use flexbox to center text */
    justify-content: center; /* Center horizontally */
    align-items: center;  /* Center vertically */
    font-size: 16px;  /* Set text size to 16px */
}

.date_container.date_selected {
    background-color: #473bf0 !important;
    border-radius: 10px;
    color: #ffffff;
}

.date_month_container{
    display: flex;
    flex-direction: column; /* Vertical layout */
    align-items: center;    /* Center horizontally */
    justify-content: flex-start; /* Align top */
}

.month_container{
    box-sizing: border-box; /* Include padding and border in width and height */
    width: 42px;  /* Set width to 42px */
    height: 42px; /* Set height to 42px */
    display: flex;  /* Use flexbox to center text */
    justify-content: center; /* Center horizontally */
    align-items: center;  /* Center vertically */
    font-size: 12px;  /* Set text size to 16px */
    color: rgba(0, 0, 0, 0.4); /* 40% opacity black */
}

.content {
    display: flex;           /* Flexbox layout */
    flex-direction: column;   /* Vertical layout */
    align-items: flex-start;  /* Align items to the left */
    justify-content: flex-start; /* Align items to the top */
    width: 100%;              /* Fill width of the container */
    gap: 20px;                /* Gap between child elements */
    padding: 30px 30px 20px;       /* Padding: 10px top and bottom, 30px left and right */
    box-sizing: border-box;   /* Include padding and border in the element's width and height */
}

.content_date {
    font-size: 20px;
    font-weight: 100;
}

.content_container{
    display: flex;           /* Flexbox layout */
    flex-direction: column;   /* Vertical layout */
    align-items: flex-start;  /* Align items to the left */
    justify-content: flex-start; /* Align items to the top */
    width: 100%;              /* Fill width of the container */
    gap: 12px;                /* Gap between child elements */
    box-sizing: border-box;   /* Include padding and border in the element's width and height */
}

.content_container_container{
    display: flex;           /* Flexbox layout */
    flex-direction: column;   /* Vertical layout */
    align-items: flex-start;  /* Align items to the left */
    justify-content: flex-start; /* Align items to the top */
    width: 100%;              /* Fill width of the container */
    gap: 5px;                /* Gap between child elements */
    padding: 20px;       /* Padding: 10px top and bottom, 30px left and right */
    box-sizing: border-box;   /* Include padding and border in the element's width and height */
    border-radius: 30px; /* Adds a corner radius of 30px */
}

.content_container_container_1{
    background-color: #bdd0fc;
}

.content_container_container_2{
    background-color: #fcc8bd;
}

.content_container_container_3{
    background-color: #ffc7ed;
}

.content_title_container {
    display: flex;              /* Set to flexbox for horizontal layout */
    align-items: center;        /* Center vertically */
    justify-content: flex-start; /* Align left horizontally */
    gap: 20px;                  /* Set the gap between child elements to 20px */
}

.content_icon{
    width: 24px;
}

.content_title_container_1 {
    font-weight: bold;          /* Set font weight to bold */
    font-size: 16px;            /* Set font size to 16px */
    color: #3f15ea;             /* Set font color to #3f15ea */
}

.content_title_container_2 {
    font-weight: bold;          /* Set font weight to bold */
    font-size: 16px;            /* Set font size to 16px */
    color: #ea1515;             /* Set font color to #3f15ea */
}

.content_title_container_3 {
    font-weight: bold;          /* Set font weight to bold */
    font-size: 16px;            /* Set font size to 16px */
    color: #ea15bb;             /* Set font color to #3f15ea */
}

@media screen and (max-width: 1000px){
.dates_container{
    gap: 17px 40px;
}
}

@media screen and (max-width: 700px){
.dates_container{
    gap: 17px 30px;
}
}

@media screen and (max-width: 500px){
.calendar{
    padding: 10px;
}
.dates_container{
    gap: 17px 10px;
    padding: 10px;       /* Padding: 10px top and bottom, 30px left and right */
}

.day_container, .date_container{
    font-size: 12px;
    width: 30px;
    height: 30px;
}

.month_container{
    font-size: 10px;
    width: 30px !important;
    height: 30px !important;
}

}